<section class="testimonials js-testimonials" id="content-testimonial-component">
  <div class="testimonials__inner">
    <div class="testimonials__header">
      <h2 class="testimonials__header__subheadline">{{section.settings.subheading}}</h2>
      <h1 class="testimonials__header__headline">{{section.settings.heading}}</h1>
    </div>
    <div class="testimonials__slider">
      <div class="testimonials__slider__inner" data-testimonial-slider>
        {% for block in section.blocks %}
        <div class="testimonials__slide">
          <div class="testimonials__item">
            <div class="testimonials__item__media">
              <img src="{{block.settings.image | img_url: '1000x'}}" class="testimonials__item__image" alt="Nadia Ruiz" />
              <div class="testimonials__item__caption">
                <div class="testimonials__caption__name" data-testimonial-person-name>
                  {{block.settings.name | escape}}
                </div>
                <div class="testimonials__caption__title" data-testimonial-person-title>
                  {{block.settings.title | escape}}
                </div>
              </div>
            </div>
            <div class="testimonials__item__body" data-testimonial-body>
              “{{block.settings.body | escape}}”
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="testimonials__slider__overlay" data-testimonial-slider-overlay style="left: 385px;"></div>
    </div>
    <div class="testimonials__text js-fade-in" data-testimonial-text>{% for block in section.blocks %}{% if forloop.first %}
      <div class="testimonials__text__body" data-testimonial-body>
        “{{block.settings.body | escape}}”
      </div>
      <div class="testimonials__text__person-name" data-testimonial-person-name>
        {{block.settings.name | escape}}
      </div>
      <div class="testimonials__text__person-title" data-testimonial-person-title>
        {{block.settings.title | escape}}
      </div>{% endif %}{% endfor %}
    </div>
    <div class="testimonials__controls">
      <button class="testimonials__controls-arrow testimonials__controls-arrow__prev button--invisible" data-testimonial-slider-prev>
        <img src="{{'arrow-left.svg' | asset_url}}" alt="Go to Previous" />
      </button>
      <button class="testimonials__controls-arrow testimonials__controls-arrow__next button--invisible" data-testimonial-slider-next>
        <img src="{{'arrow-right.svg' | asset_url}}" alt="Go to Next" />
      </button>
    </div>
  </div>
</section>

<style>
.testimonials{width:100%;overflow:hidden}@media(min-width:1024px){.testimonials{margin:80px}}.testimonials__inner{position:relative;margin:0 auto}@media(min-width:1024px){.testimonials__inner{display:-ms-grid;display:grid;-ms-grid-rows:(auto)[3] 1fr;grid-template-rows:repeat(3,auto) 1fr;grid-auto-rows:min-content;-ms-grid-columns:488px minmax(0,1fr);grid-template-columns:488px minmax(0,1fr)}}@media(min-width:1920px){.testimonials__inner{-ms-grid-columns:537px 1fr;grid-template-columns:537px 1fr;padding-left:40px}}.testimonials__header{grid-row:1/2;grid-column:1/2;padding:40px 16px}@media(min-width:768px){.testimonials__header{padding:0 0 10px}}.testimonials__header__subheadline{color:#006bd6;font-size:16px;line-height:1.2;letter-spacing:0;font-weight:500;margin-bottom:16px}.testimonials__header__headline{font-size:20px;line-height:1.3;letter-spacing:.25px}@media(max-width:1023px){.testimonials__header__headline br{display:none}}@media(min-width:1024px){.testimonials__header__headline{font-size:34px}}.testimonials__slider{position:relative;grid-row:1/-1;grid-column:2/3}.testimonials__slider__inner{opacity:1;transition:opacity .3s ease-in}.testimonials__slider__inner:not(.slick-initialized){max-height:370px;overflow:hidden;opacity:0}@media(min-width:768px){.testimonials__slider__inner:not(.slick-initialized){max-height:490px}}.testimonials__slider__overlay{position:absolute;display:-ms-flexbox;display:flex;top:0;left:0;right:0;bottom:0;pointer-events:none;background-color:#f4f4f5;opacity:.7}.testimonials__slider__overlay>*{pointer-events:initial}.testimonials__slide.slick-slide:focus{box-shadow:0 0 3px #c1c1c2}.testimonials__item{width:296px}@media(max-width:767px){.testimonials__item{padding-left:16px}}@media(min-width:768px){.testimonials__item{padding-right:24px;width:392px}}.testimonials__item__media{position:relative}.testimonials__item__media a{display:block}.testimonials__item__image{width:100%}.testimonials__item__caption{position:absolute;bottom:30px;left:30px;opacity:1;transition:opacity .2s ease-out}.slick-active .testimonials__item__caption{opacity:0}.testimonials__caption__name{font-size:20px;letter-spacing:.25px;color:#fff}.testimonials__caption__title{font-size:14px;letter-spacing:.1px;color:#fff}.testimonials__item__overlay{position:absolute;display:-ms-flexbox;display:flex;top:0;left:0;right:0;bottom:0;pointer-events:none;display:flex;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.testimonials__item__overlay>*{pointer-events:initial}.testimonials__item__play{cursor:pointer;position:relative;border:2px solid #fff;border-radius:50%;width:40px;height:40px}.testimonials__item__play:after{display:inline-block;content:'';width:0;height:0;border:13px solid transparent;border-left-color:#fff;border-top-width:10px;border-bottom-width:10px;position:absolute;top:50%;left:50%;transform:translate(-5px,-50%)}@media(min-width:1024px){.testimonials__item__play{width:56px;height:56px}}.testimonials__item__body{display:none}.testimonials__controls{display:none;grid-row:3/5;grid-column:1/2}@media(min-width:1024px){.testimonials__controls{display:-ms-flexbox;display:flex;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-align:end;align-items:flex-end;padding:0 24px 8px 2px}}.testimonials__controls-arrow{display:-ms-flexbox;display:flex;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-align:center;outline: 0;align-items:center;-ms-flex-pack:center;justify-content:center;width:48px;height:48px;background-color:#fff;border-radius:50%;box-shadow:0 2px 4px 0 rgba(0,0,0,.5)}.testimonials__controls-arrow.disabled{display:none}.testimonials__controls-arrow:focus,.testimonials__controls-arrow:hover{box-shadow:0 2px 4px 0 rgba(0,0,0,.8)}.testimonials__controls-arrow:hover{outline:0}.testimonials__controls-arrow img{width:33px}.testimonials__controls-arrow__next{margin-left:32px}@keyframes fadeslide{from{opacity:0;transform:translateY(-40px)}to{opacity:1;transform:translateY(0)}}.testimonials__text{grid-row:2/3;grid-column:1/2;padding:24px 16px 40px}@media(min-width:768px){.testimonials__text{padding:24px 0 40px}}@media(min-width:1024px){.testimonials__text{padding:0 80px 40px 0}}.testimonials__text.js-fade-in{animation:.4s fadeslide}.testimonials__text__body{font-size:20px;line-height:1.5;color:#747476;margin-bottom:24px}@media(min-width:1024px){.testimonials__text__body{font-size:24px;line-height:1.1;margin-bottom:40px}}@media(min-width:1280px){.testimonials__text__body{margin-bottom:25px}}.testimonials__text__person-name{font-family:ttnorms-medium,sans-serif;font-size:20px;letter-spacing:.25px;color:#252729;margin-bottom:4px}.testimonials__text__person-title{font-family:ttnorms-medium,sans-serif;font-size:14px;letter-spacing:.1px;color:#252729}
.testimonials__slide.slick-active:not(.slick-current) .testimonials__item__caption {opacity: 1;}
</style>
{{'//code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css' | stylesheet_tag}}
{{'slick.theme.css' | asset_url | stylesheet_tag}}
{{'//code.jquery.com/jquery-2.1.3.js | script_tag}}
{{'//code.jquery.com/ui/1.11.2/jquery-ui.js | script_tag}}
{{'slick.min.js' | asset_url | script_tag}}
<script>
  $(document).ready(function() {
    $('.testimonials__slider [data-testimonial-slider]').slick({
      arrows: false,
      infinite: true,
      slidesToShow: 3,
      variableWidth: true,
      slidesToScroll: 1,
      responsive: [
        {breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, } },
        { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } },
        { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } }
      ]
    });
    $('.testimonials__controls-arrow__prev').click(function(){ 
      $('[data-testimonial-slider]').slick('slickPrev');
    });

    $('.testimonials__controls-arrow__next').click(function(){
      $('[data-testimonial-slider]').slick('slickNext');
    });
    $('.testimonials__slider [data-testimonial-slider]').on('beforeChange', function(event, slick, currentSlide){
      var sbody = $('.slick-slide.slick-current').find('[data-testimonial-body]').text();
      var sname = $('.slick-slide.slick-current').find('[data-testimonial-person-name]').text();
      var stitle = $('.slick-slide.slick-current').find('[data-testimonial-person-title]').text();
      $('.testimonials__text').addClass('js-fade-in', 100, jsfadein);
      $('.testimonials__text__body').text(sbody);
      $('.testimonials__text__person-name').text(sname);
      $('.testimonials__text__person-title').text(stitle);
      function jsfadein() { setTimeout(function() { $('.testimonials__text').removeClass('js-fade-in'); }, 300 ); }
    });
  });
</script>

{% schema %}
{
  "name": "Section Testimonial",
   "class": "index-section index-section--flush",
   "max_blocks": 10,
   "settings": [
     {
       "type": "text",
       "id": "subheading",
       "label": "Sub Heading",
       "default": "Every<i>body</i> Has A Story"
     },
     {
       "type": "text",
       "id": "heading",
       "label": "Heading",
       "default": "Real people. Real science.<br /> Real possibilities."
     }
   ],
   "blocks": [
     {
       "type": "image",
       "name": "Image slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "name",
           "label": "Name"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "textarea",
           "id": "body",
           "label": "Body"
         }
       ]
     }
   ],
   "presets": [
     {
       "name": "Section Testimonial",
       "category": "Homepage"
     }
   ]
}
{% endschema %}
